body{
	margin:0px;
	padding:0px;
	overflow-x:hidden;
}
main
{ margin-top:50px !important;}

.navbar{
	background-color:transparent !important;
	border:0px;
	border-radius:0px;
  padding:5px;
	margin: 0px;

}

.navbar-brand{
	color:green !important;
}

.collapse>ul>li>a{
color: #3fbbc0 !important;
}
.collapse>ul>li>a:hover {
	color: white !important;
  text-decoration: underline;
text-shadow: 5px;
	background-color: #65c9cd ;
}
